*{
   font-family: 'Ubuntu', sans-serif;
}

body{
   background-color: rgb(54, 54, 54);
   color: rgb(54, 54, 54);
}

.jumbotron{
   margin-top: 25vh;
   background: white ;
   display: flex;
   justify-content: center;
   /*height: inherit;*/
}

.quoteDiv{
   width: 700px;
   display: flex;
   flex-direction: column;
}

.buttons{
   display: flex;
   justify-content: space-between;
   margin: 10px 10px 0 10px;
}

.buttons a{
   color: inherit;
}

.buttons a:hover{
   color: #1b95e0;
}

button{
   background: 0;
   border: 0;
}

button:active, button:focus{
   outline: 0;
}

.loading{
   display: none;
   font-size: 17px !important;
}

.quote p{
   text-align: center;
   font-size: 25px;
   margin: 0 2px;
}

.author{
   align-self: flex-end;
   margin-right: 80px;
   margin-top: 10px;
}
.author p{
   font-size: 16px;
   font-weight: lighter;
}

.spin{
   animation-name: spin;
   animation-duration: 1300ms;
   animation-iteration-count: infinite;
   animation-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes spin {
    from { transform:rotate(now); }
    to { transform:rotate(-360deg); }
}

.pulse{
   animation-name: pulse;
   animation-duration: 1300ms;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes pulse {
   0% { opacity: 1; }
   50% { opacity: 0; }
   100% { opacity: 1; }
}

/*.copyright{
   margin-top: -20px;
   font-size: 11px;
   color:white !important;
   text-align: center; }
.copyright a{ font-weight: bold; color: white; }
.copyright a:hover{ text-decoration: none; }*/
